body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.container {
  display: flex;     /* note: defaults to horizontal left-to-right (row) */
}

.board {
  display: table;
  border-collapse: collapse;
}

.board-row {
  display: table-row;
}

.square {
  display: table-cell;
  height: 34px;
  width: 34px;

  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}

.game-info {
  margin-left: 20px;
}
